body{
    font-style: italic;
    height: 100vh;
    background: rgb(7,13,161);
    background: linear-gradient(35deg, rgba(7,13,161,1) , rgba(45,206,253,1) , rgba(7,13,161,1) );
    background-size: 500%;
    animation: page 10s infinite ;
}
@keyframes page {
   0% {background-position:0% 50%} 
   50% {background-position:100% 50%} 
   100% {background-position:0% 50%} 
}